
<h3>Titlte: <%= @wiki.title %></h3>
<h3>Body: <%= markdown_to_html(@wiki.body) %></h3>
<% if @wiki.private %>
	<% if @wiki.user == current_user %> 
				<div class="btn btn-block btn-warning">Private</div>
		<% else %>
			<div class="btn btn-block btn-warning">created by <%= @wiki.user.name %></div>		
		<% end %>
<% else %>
	<i>publicly viewed wiki</i>
<% end %>
<% if policy(@wiki).edit? %>
| <%= link_to "EDIT", edit_wiki_path %> 
<% end %>
<% if policy(@wiki).destroy? %>
| <%= link_to "DELETE", wiki_path, method: :delete %> |
<% end %>
<br/>
<br/>
<% if policy(@wiki).create? %>
	<p><%= link_to "Create a new wiki", new_wiki_path, class: 'label label-info' %></p>
<% end %>
<% if policy(@wiki).private? %>
	<%= render 'collaborators/collaborator', locals: { wiki: @wiki} %>
<% end %>